/* Yeah, styling is currently just normal CSS. */

/*
 * Variables are currently used as static #define type values.  We do not use
 * them as independent mix-ins.  That is, when something becomes active, we
 * could either have a class that explicitly calls out "--active-color" or we
 * could have a selector that overwrites "--color".
 *
 * This is a weakly held choice.
 */
:root {
  --bg-color: #ddd;
  --selected-bg-color: #dad;
  --hover-bg-color: #d8d;
  --active-bg-color: #dad;

  --border-color: #aaa;
  --selected-border-color: #a6a;
  --hover-border-color: #a7a;
  --active-border-color: #a8a;

  --text-color: #000;
  --selected-text-color: #303;
  --hover-text-color: #202;
  --active-text-color: #303;
}

html, body {
  padding: 0;
  margin: 0;
}

.VertTabBar {

}

.DomainGroup {

}
.DomainGroup-domain {

}

.BreadcrumbGroup {

}
.BreadcrumbGroup-crumb {

}

.SimpleTab {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  margin-left: 4px;
  margin-bottom: 1px;
  margin-right: 4px;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
}

.SimpleTab.ActiveTab {
  background-color: var(--selected-bg-color);
  border: 1px solid var(--selected-border-color);
  color: var(--selected-text-color);
  border-right: 0px;
  margin-left: 2px;
  padding-right: 8px;
  margin-right: 0px;
}

.SimpleTab:hover, .SimpleTab.ActiveTab:hover {
  background-color: var(--hover-bg-color);
  border-color: var(--hover-border-color);
  color: var(--hover-text-color);
}

.SimpleTab:active, .SimpleTab.ActiveTab:active {
  background-color: var(--active-bg-color);
  border-color: var(--active-border-color);
  color: var(--active-text-color);
}
