/* Yeah, styling is currently just normal CSS. */

@import 'react-contextmenu.css';

/*
 * Variables are currently used as static #define type values.  We do not use
 * them as independent mix-ins.  That is, when something becomes active, we
 * could either have a class that explicitly calls out "--active-color" or we
 * could have a selector that overwrites "--color".
 *
 * This is a weakly held choice.
 */
:root {
  --tab-bg-color: #ddd;
  --potential-tab-bg-color: #e8e8e8;
  --group-bg-color: #f8f8f8;
  --selected-bg-color: #dad;
  --hover-bg-color: #d8d;
  --active-bg-color: #dad;

  --tab-border-color: #aaa;
  --group-border-color: #ccc;
  --breadcrumb-line-color: #f0f0f0;
  --selected-border-color: #a6a;
  --hover-border-color: #a7a;
  --active-border-color: #a8a;

  --text-color: #000;
  --selected-text-color: #303;
  --hover-text-color: #202;
  --active-text-color: #303;
}

html, body {
  padding: 0;
  margin: 0;

  font: 12px sans-serif;
}

.VertTabBar {
  margin-top: 1px;
}

.DomainGroup {
  background-color: var(--group-bg-color);
  border: 1px solid var(--group-border-color);
  border-right: 0;
  color: var(--text-color);
  margin-left: 4px;
  margin-bottom: 1px;
  padding-left: 2px;
  overflow: hidden;
}
.DomainGroup-domain {
  all: unset;
  display: block;
  font: 12px sans-serif;
  font-weight: bold;
  padding: 2px;
}

.BreadcrumbGroup {
}
.BreadcrumbGroup-baseCrumb {
}
.BreadcrumbGroup-tabCrumb {
  all: unset;
  display: block;
  font: 12px sans-serif;
  background-color: var(--tab-bg-color);
  border: 1px solid var(--tab-border-color);
  color: var(--text-color);
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 1px;
  margin-right: 4px;
  cursor: pointer;
}
.BreadcrumbGroup-tabCrumb.ActiveTab {
  background-color: var(--selected-bg-color);
  border: 1px solid var(--selected-border-color);
  color: var(--selected-text-color);
  border-right: 0px;
  margin-left: 0px;
  padding-right: 8px;
  margin-right: 0px;
}
.BreadcrumbGroup-potentialTabCrumb {
  all: unset;
  display: block;
  font: 12px sans-serif;
  background-color: var(--potential-tab-bg-color);
  border: 1px transparent;
  color: var(--text-color);
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 1px;
  margin-right: 4px;
  cursor: pointer;
}
.BreadcrumbGroup-titleOnlyCrumb {
  all: unset;
  display: block;
  font: 12px sans-serif;
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 1px;
  margin-right: 4px;
}
.BreadcrumbGroup-tabCrumb:hover, .BreadcrumbGroup-tabCrumb.ActiveTab:hover,
.BreadcrumbGroup-potentialTabCrumb:hover {
  background-color: var(--hover-bg-color);
  border-color: var(--hover-border-color);
  color: var(--hover-text-color);
}

.BreadcrumbGroup-children {
  margin-left: 3px;
  border-left: 1px solid var(--breadcrumb-line-color);
  padding-left: 2px;
}

.SimpleTab {
  background-color: var(--tab-bg-color);
  border: 1px solid var(--tab-border-color);
  color: var(--text-color);
  margin-left: 4px;
  margin-bottom: 1px;
  margin-right: 4px;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
}

.SimpleTab.ActiveTab {
  background-color: var(--selected-bg-color);
  border: 1px solid var(--selected-border-color);
  color: var(--selected-text-color);
  border-right: 0px;
  margin-left: 2px;
  padding-right: 8px;
  margin-right: 0px;
}

.SimpleTab:hover, .SimpleTab.ActiveTab:hover {
  background-color: var(--hover-bg-color);
  border-color: var(--hover-border-color);
  color: var(--hover-text-color);
}

.SimpleTab:active, .SimpleTab.ActiveTab:active {
  background-color: var(--active-bg-color);
  border-color: var(--active-border-color);
  color: var(--active-text-color);
}
